# MongoDB Connection
MONGODB_URL=mongodb+srv://username:password@cluster.mongodb.net/

# Database Configuration
DATABASE_NAME=todo_db
COLLECTION_NAME=tasks

# API Configuration
API_HOST=0.0.0.0
API_PORT=8000

# Streamlit Configuration
STREAMLIT_API_URL=http://localhost:8000
